@CHARSET "ISO-8859-1";

header{ 
	border: thick;
	border-color: olive;
	border-style : solid;
	background-color: #CCCC33
}

header h1{
	text-align: center;
}


article{
	margin-left:170px;
	border-left: 1px solid olive;
	padding: 10px;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

body{
	background-color: #FFFF99;
}

footer{
	border: thick;
	border-color: olive;
	border-style : solid;
	position:fixed;
	bottom:0;
	background-color: #CCCC33;
}

footer h1{
	text-align: center;
}

#stepstoregister{
	list-style-type: decimal;
}

#menubar{
	text-indent: bold;
	
}

#registerform{
	border : 4px solid olive;
	background-color : #CCCC33;
	margin-left: 200px;
	margin-right: 200px;
	width: 800px;
	padding : 10px;
}

#loginform{
	border : 4px solid olive;
	background-color : #CCCC33;
	margin-left: 200px;
	margin-right: 200px;
	width: 800px;
	padding : 10px;
}

lable{
	margin-left: 400px;
}

#registerlabel{
	font-size:22px;
	font:bold; 
}

input{
	font-size:large;
	padding : 10px 10px;
	position: relative;
	width: 775px;
}
button:HOVER{
	color:blue;
}

#registersubmit{
	font-size:larger;
	width: 800px;height: 30px
}

#registerdiv{
	margin-left: 250px;
	margin-right: 250px
}

#logindiv{
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 200px;
	margin-bottom: 100px;
}

label{
	padding :10px 10px;
}